%h1.mt-3.mb-3= @event.name
.row
  .col-8
    .card.mb-2
      - if @event.image.attached?
        = image_tag @event.image, class: "card-image-top"
    .card.mb-2
      %h5.card-header イベント内容
      .card-body
        %p.card-text= @event.content
    .card.mb-2
      %h5.card-header 開催時間
      .card-body
        %p.card-text= "#{l(@event.start_at, format: :long)} - #{l(@event.end_at, format: :long)}"
    .card.mb-2
      %h5.card-header 開催場所
      .card-body
        %p.card-text= @event.place
    .card.mb-2
      %h5.card-header 主催者
      .card-body
        - if @event.owner
          = link_to("https://github.com/#{@event.owner.name}", class: 'card-link') do
            = image_tag @event.owner.image_url, width: 50, height: 50
            = "@#{@event.owner.name}"
        - else
          退会したユーザです
  .col-4.d-grid.align-content-start.gap-2
    - if @event.created_by?(current_user)
      = link_to('イベントを編集する', edit_event_path(@event), class: 'btn btn-info btn-lg')
      = link_to('イベントを削除する', event_path(@event), class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: '本当に削除しますか' })
    - if @ticket
      = link_to '参加をキャンセルする', event_ticket_path(@event, @ticket), method: :delete, class: 'btn btn-warning btn-lg btn-block'
    -elsif logged_in?
      %button.btn.btn-primary.btn-lg{ "data-bs-toggle": "modal", "data-bs-target": "#createTicket" }
        参加する
      %div.modal.fade#createTicket
        .modal-dialog
          .modal-content
            .modal-header
              %h4.modal-title#dialogHeader 参加コメント
              %button.btn-close{ type: 'button', 'data-bs-dismiss': 'modal'};
            = form_with(model: @event.tickets.build, url: event_tickets_path(@event), local: false) do |f|
              .modal-body
                #createTicketErrors
                = f.text_field :comment, class: 'form-control'
              .modal-footer
                %button.btn.btn-light{ type: 'button', 'data-bs-dismiss': 'modal' }
                  キャンセル
                = f.button '送信', class: 'btn btn-primary'
    - else
      = link_to '参加する', new_event_ticket_path(@event), class: 'btn btn-primary btn-lg'

    %hr
      .card.mb-2
        %h5.card-header 参加者
        %ul.list-group.list-group-flush
          - @tickets.each do |ticket|
            %li.list-group-item
              - if ticket.user
                = link_to(url_for_github(ticket.user), class: 'card-link') do
                  = image_tag ticket.user.image_url, width: 20, height: 20
                  = "@#{ticket.user.name}"
                = ticket.comment
              - else
                退会したユーザです
